# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

variables:
- group: tf_az_provider
# $env:ARM_CLIENT_ID= "1478bff9-0cca-4e78-bf0e-92cf47abfa22"
# $env:ARM_CLIENT_SECRET="?/kAE9S?BqgO2F/dWQ0supZw235wkA:4"
# $env:ARM_SUBSCRIPTION_ID="fcbf1a19-f965-41c6-94a7-5e415c4d06a8"
# $env:ARM_TENANT_ID="8a09f2d7-8415-4296-92b2-80bb4666c5fc"


pool:
  vmImage: 'ubuntu-latest'

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'

- script: |
    echo Here is my Client ID:
    echo $ARM_CLIENT_ID
  displayName: 'Run a multi-line script'

- task: TerraformCLI@0
  inputs:
    command: 'validate'
    workingDirectory: '$(System.DefaultWorkingDirectory)/devtest/governance/naas_governance'